$font-size: 46pt;
$row-background-color-1: #98D0C3;
$row-background-color-2: #00B98E;

body {
  background-color: $row-background-color-1 !important;
  text-transform: uppercase;
}

.widget.widget-calendar-events {
  vertical-align: initial;
}

.main-event {
  background-color: #5080BB;
  height: 150px;
  font-size: $font-size;
  line-height: $font-size;
  padding-top: 22px;

  & > div {
    display: inline-block;
    float: left;
  }
}

.main-event__date-time-area {
  font-size: $font-size;
  line-height: $font-size;
  width: 220px;
}

.main-event__summary {
  padding-left: 50px;
  text-align: left;
  width: 1200px;
}

.main-event__countdown {
  line-height: 2 * $font-size;
  text-align: center;
  width: 390px;
}

.events__column {
  display: inline-block;
  float: left;
  width: 930px;

  &:first-child .event:nth-child(even) {
    background-color: $row-background-color-2;
  }

  &:last-child .event:nth-child(odd) {
    background-color: $row-background-color-2;
  }
}

.events__month-name {
  background-color: #98D0C3;
  color: #4A4A4A;
  font-size: $font-size;
  line-height: $font-size + 20px;
  padding: 10px;
}

.event {
  color: #4A4A4A;
  height: 110px;
  padding-top: 18px;
}

.event__date-time-area {
  display: inline-block;
  float: left;
  font-size: $font-size - 10pt;
  line-height: $font-size - 10pt;
  width: 145px;
}

.event__summary {
  display: inline-block;
  float: left;
  font-size: $font-size - 10pt;
  line-height: $font-size - 10pt;
  max-height: 2 * ($font-size - 10pt);
  max-width: 750px;
  padding-left: 30px;
  text-align: left;
}
