$font-size: 46pt;

$blue: #67C1DC;
$green: #8CBD3E;
$yellow: #F7CC2b;
$red: #B9281E;
$gray: #4A4A4A;

.widget.widget-calendar-events {
  vertical-align: initial;
}

.main-event {
  background-color: $yellow;
  color: $gray;
  font-size: $font-size;
  height: 135px;
  line-height: $font-size;
  padding-top: 22px;

  &.today {
    background-color: $red;
    color: white;
  }

  & > div {
    display: inline-block;
    float: left;
  }
}

.main-event__date-time-area {
  font-size: $font-size;
  line-height: $font-size;
  width: 220px;
}

.main-event__summary {
  padding-left: 50px;
  text-align: left;
  width: 1200px;
}

.main-event__countdown {
  line-height: 2 * $font-size;
  text-align: center;
  width: 390px;
}

.events__column {
  display: inline-block;
  float: left;
  width: 930px;

  &:first-child .event:nth-child(even) {
    background-color: $green;
  }

  &:last-child .event:nth-child(odd) {
    background-color: $green;
  }
}

.events__month-name {
  background-color: $blue;
  color: $gray;
  font-size: $font-size;
  line-height: $font-size + 20px;
  padding: 20px 0 10px;
}

.event {
  color: $gray;
  height: 105px;
  padding-top: 18px;
}

.event__date-time-area {
  display: inline-block;
  float: left;
  font-size: $font-size - 10pt;
  line-height: $font-size - 10pt;
  width: 145px;
}

.event__summary {
  display: inline-block;
  float: left;
  font-size: $font-size - 10pt;
  line-height: $font-size - 10pt;
  max-height: 2 * ($font-size - 10pt);
  max-width: 750px;
  padding-left: 30px;
  text-align: left;
}
