<% content_for :title do %>Fliperama Dashboard<% end %>

<div data-id="calendar_events" class="js-calendar-events" data-view="CalendarEvents"></div>
<img src="https://raw.githubusercontent.com/fliperamaec/events-dashboard/master/assets/images/dashboard.jpg?raw=true" class="js-hashtag" style="display:none">
