$blue: #67C1DC;
$green: #8CBD3E;
$yellow: #F7CC2b;
$red: #B9281E;
$dark-gray: #585453;
$total-height: 948px;
$column-width: 615px;
$title-height: 150px;
$description-height: 330px;
$border-size: 50px;

.hashtag-area {
  background-color: white;
}

.wrapper {
  background-color: $blue;
  height: $total-height;
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: $column-width;
}

.wrapper > img {
  width: 100%
}

.cut {
  background: white;
  display: block;
  top: 0; bottom: 0;
  position: absolute;
  width: 48px
}

.left {
  -webkit-transform: skew(-2.5deg) translateX(-27px);
      -ms-transform: skew(-2.5deg) translateX(-27px);
          transform: skew(-2.5deg) translateX(-27px);
  left: 0
}

.right {
  -webkit-transform: skew(-2.5deg) translateX(27px);
      -ms-transform: skew(-2.5deg) translateX(27px);
          transform: skew(-2.5deg) translateX(27px);
  right: 0
}

.hashtag-title {
  align-items: center;
  background-color: $dark-gray;
  border-bottom: $border-size white solid;
  display: flex;
  font-size: 30pt;
  height: $title-height - $border-size;
  justify-content: center;
}

.hashtag-image {
  align-items: center;
  display: flex;
  height: $total-height - $title-height - $description-height;
  justify-content: center;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
}

.hashtag-image.first {
  background-color: $red;
}

.hashtag-image.second {
  background-color: $yellow;
}

.hashtag-image.third {
  background-color: $green;
}

.hashtag-image img {
  max-height: $total-height - $title-height - $description-height - 30px;
  max-width: $column-width - 30px;
}

.hashtag-description {
  align-items: center;
  border-top: 50px white solid;
  display: flex;
  font-size: 25pt;
  height: $description-height - 60px - $border-size;
  justify-content: center;
  padding: 0 40px;
}
